# macOS
.DS_Store

# Live Server / Node
node_modules/
package-lock.json

# Environment
.env
.env.local

# Vercel
.vercel/

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project specific
logs/
*.log
